{
    "ecmaFeatures": {
        "modules": true,
        "sourceType": "module"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true
    },
    "rules": {
        "semi": 2
    }
}
